*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
private.xml
/app/src/main/res/drawable-nodpi
/app/src/main/java/com/sorcerer/sorcery/iconpack/utils/OtherUtil.java
/keystore