*.iml
.gradle
/local.properties
/gradle.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
private.xml
/app/src/main/res/drawable-nodpi
/keystore
/dictionary-elder.txt
/.gitignore

/app/src/main/java/com/sorcerer/sorcery/iconpack/iconShowCase
/app/src/main/java/com/sorcerer/sorcery/iconpack/net
/app/src/main/java/com/sorcerer/sorcery/iconpack/apply
/app/src/main/java/com/sorcerer/sorcery/iconpack/test

.idea/dbnavigator.xml
testProgram/
