<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sorcerer.sorcery.iconpack"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".SIP"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- ADW -->
            <intent-filter>
                <action android:name="org.adw.launcher.THEMES"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- Apex -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="com.anddoes.launcher.THEME"/>
            </intent-filter>
            <!-- Atom -->
            <intent-filter>
                <action android:name="com.dlto.atom.launcher.THEME"/>
            </intent-filter>
            <!-- Nova -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="com.teslacoilsw.launcher.THEME"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.novalauncher.THEME"/>

                <category android:name="com.novalauncher.category.CUSTOM_ICON_PICKER"/>
            </intent-filter>
            <!-- LauncherPro / Holo -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="com.fede.launcher.THEME_ICONPACK"/>
            </intent-filter>
            <!-- Next Launcher -->
            <intent-filter>
                <action android:name="com.gtp.nextlauncher.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.gtp.nextlauncher.trial.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- TSF Shell -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.tsf.shell.themes"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- Turbo Launcher -->
            <intent-filter>
                <action android:name="com.phonemetra.turbo.launcher.icons.ACTION_PICK_ICON"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- Smart Launcher -->
            <intent-filter>
                <action android:name="ginlemon.smartlauncher.THEMES"/>
                <action android:name="ginlemon.smartlauncher.BUBBLESTYLE"/>
                <action android:name="ginlemon.smartlauncher.BUBBLEICONS"/>
                <action android:name="ginlemon.smartlauncher.CLOCKS"/>
                <action android:name="ginlemon.smartlauncher.CLOCKFONTS"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- Nine Launcher -->
            <intent-filter>
                <action android:name="com.gridappsinc.launcher.theme.apk_action"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- Random launchers -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="org.adw.launcher.THEMES"/>
                <action android:name="mobi.bbase.ahome.THEME"/>
                <action android:name="com.rogro.GDE.THEME.1"/>
                <action android:name="com.android.dxtop.launcher.THEME"/>

                <category android:name="com.fede.launcher.THEME_ICONPACK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON"/>
                <action android:name="mobi.bbase.ahome.THEME"/>
                <action android:name="com.rogro.GDE.THEME.1"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="cdproductions.crazyicons.TWO"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- THEME MANAGER -->
            <intent-filter>
                <action android:name="com.daeva112.manager.MAIN"/>

                <category android:name="com.daeva112.manager.THEME"/>
            </intent-filter>
            <!-- GO LAUNCHER -->
            <intent-filter>
                <action android:name="com.gau.go.launcherex.theme"/>
                <action android:name="android.intent.action.MAIN"/>


                <category android:name="android.intent.category.THEME_SCENE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
            <!-- Solo Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="home.solo.launcher.free.THEMES"/>
                <action android:name="home.solo.launcher.free.ACTION_ICON"/>
            </intent-filter>
            <!-- LG Home -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.lge.launcher2.THEME"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.FeedbackActivity"
            android:label="@string/action_feedback"
            android:theme="@style/SubActivity"/>
        <activity
            android:name=".ui.activities.ApplyActivity"
            android:label="@string/action_apply"
            android:theme="@style/SubActivity"/>
        <activity
            android:name=".ui.activities.DonateActivity"
            android:label="@string/nav_item_donate"
            android:theme="@style/SubActivity"/>
        <activity
            android:name=".ui.activities.AboutActivity"
            android:label="@string/nav_item_about"
            android:theme="@style/SubActivity"/>
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="@string/nav_item_settings"
            android:theme="@style/SubActivity"/>
        <activity
            android:name=".ui.activities.AppSelectActivity"
            android:label="@string/select_app"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activities.TestActivity"
            android:theme="@style/SubActivity"/>
        <activity
            android:name=".ui.activities.LabActivity"
            android:label="@string/nav_item_lab"
            android:theme="@style/SubActivity">
        </activity>

        <activity
            android:name=".ui.activities.HelpActivity"
            android:label="@string/nav_item_help"
            android:theme="@style/SubActivity">
        </activity>

        <receiver
            android:name=".xposed.PackageInstalledReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".xposed.PackageAddedReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".xposed.MyselfUpdateReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="c.b.a.A"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="c.b.a.B"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"/>

        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="@string/bug_hd_sdk_general_key"/>
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_tag"/>
        <meta-data
            android:name="xposedminversion"
            android:value="30"/>

        <activity android:name=".ui.activities.SplashDonatedActivity">
        </activity>

    </application>

</manifest>